/* header style starts */
nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: 200px;
}

nav a {
    text-decoration: none;
    margin-right: 50px;
    color: #131313;
}

.g3 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.home {
    color: #424242;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
}

.header-texts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 329px 47px;
    padding-bottom: 40px;
}

.h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    text-align: center;
    margin: 0 300px 0;
    color: #131313;
}

.header-paragraph {
    width: 868px;
    height: 52px;
    left: 526px;
    top: 379px;
    color: #727272;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.button-1 {
    border: 0;
    border-radius: 5px;
    margin-bottom: 44px;
    color: #FFFFFF;
    font-size: large;
    background: #FF900E;
    width: 160px;
    height: 60px;
}

.header-image {
    width: 1500px;
}

/* header style ends */

/* section-1 style starts */
.section-1 {
    display: flex;
}

.Four-images-container {
    display: grid;
    grid-template-columns: repeat(2, 370px);
    margin-left: 300px;
}

.quick-list-of {
    margin-top: 200px;
}

.quick-list {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.of-our {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.features {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.quick-list-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-right: 200px;
}

/* section-1 style ends */

/* section-2 style starts */
.section-2 {
    display: flex;
    margin-top: 130px;
    margin-right: 120px;
}

.section-2-image {
    width: 30%;
}

.Fywle {
    border-left: 6px solid #FF900E;
    padding-left: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}

.Fywle-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 170px;
}

.section-2-heading {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.section-2-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.section-2-texts {
    margin-left: 350px;
    margin-right: 300px;
}

.button-2 {
    width: 342px;
    height: 200px;
    left: 880px;
    top: 3104px;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
    font-family: 'Work Sans';
    text-align: center;
    color: #FFFFFF;
}

.tenY {
    font-weight: 700;
    font-size: 60px;
}

.exp {
    font-weight: 500;
    font-size: 25px;
}

/* section-2 style ends */

/* section-3 style starts */
.some-facts {
    margin-left: 280px;
    margin-right: 1000px;
    margin-bottom: 130px;
}

.SF {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.SF-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* section-3 style ends */

/* section-4 style starts */
.four-icons {
    display: flex;
    justify-content: space-evenly;
}

.icon {
    text-align: center;
    border: 2px solid #FF900E;
    border-radius: 8px;
    padding: 30px;
}

.hd {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}

.pr {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* section-4 style ends */

/* section-5 style starts */
.section-5-texts {
    margin-top: 200px;
    margin-bottom: 80px;
}

.spon {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 730px;
    margin-right: 730px;
}

.spon-paragraph {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #727272;
    margin-left: 600px;
    margin-right: 600px;
}

.section5-images {
    display: flex;
    justify-content: space-evenly;
}

/* section-5 style ends */

/* footer style starts */
footer {
    background-color: #FFF4E7;
}

.copyright {
    margin-top: 130px;
    margin-left: 550px;
    margin-right: 500px;
    margin-bottom: 200px;
    padding: 1.9em;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}
/* footer style ends */